build/
*.class
*.log
.gradle

bin/
.springBeans
.classpath
.settings/
.project
.idea
*.iml
*~

rebel.xml
.idea
.DS_Store

PhenoManagerPortal/bower_components
PhenoManagerPortal/dist
PhenoManagerPortal/node_modules
PhenoManagerPortal/npm-debug.log
PhenoManagerPortal/package-lock.json
PhenoManagerPortal/.sass-cache
PhenoManagerPortal/.assets
