<div class="modal stick-up fade" tabindex="-1" id="save-phenomenon" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title m-b-15">{{ vm.phenomenonSaveTitle }}</h4>
            </div>
            <form name="phenomenonForm" novalidate>
                <div class="modal-body">

                    <div class="row form-group">
                        <div class="form-group form-group-default required">
                            <label>Name</label>
                            <input autocomplete="off" type="text" name="name" class="form-control" ng-model="vm.phenomenon.name" required>
                        </div>
                        <p ng-show="phenomenonForm.name.$invalid && !phenomenonForm.name.$pristine" class="error help-block">Required field</p>
                    </div>

                    <div class="row form-group">
                        <div class="form-group form-group-default required">
                            <label>Research Domain</label>
                            <select class="form-control" ng-model="vm.phenomenon.researchDomain" required ng-options="researchDomain.value as researchDomain.name for researchDomain in vm.researchDomains">
                                <option disabled selected value="">Select type</option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="form-group form-group-default">
                            <label>Description</label>
                            <textarea autocomplete="off" name="description" class="form-control default-textarea" ng-model="vm.phenomenon.description"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" ng-click="vm.doSavePhenomenon()" data-dismiss="modal" class="btn btn-primary-dark" 
                        ng-disabled="phenomenonForm.$invalid">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>