<div sidebar-menu></div>

<!-- START PAGE CONTAINER -->
<div class="page-container">

    <div header-top></div>

    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content ">
            <!-- START CONTAINER FLUID -->
            <div class=" container-fluid container-fixed-lg">
                <div ui-view></div>
            </div>
            <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <div class=" container-fluid container-fixed-lg footer">
            <div class="copyright sm-text-center">
                <p class="small no-margin sm-pull-reset">
                    <span class="hint-text">Copyright © 2018</span>
                    <span class="hint-text">All rights reserved.</span>
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- END COPYRIGHT -->
    </div>
<!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE CONTENTAINER -->
