<div class="modal stick-up fade" tabindex="-1" id="update-user-password" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title m-b-15">Update password</h4>
            </div>
            <form name="loggedUserForm" novalidate>
                <div class="modal-body">

                    <div class="row form-group">
                        <div class="form-group form-group-default required">
                            <label>New password</label>
                            <input autocomplete="new-password" type="password" name="password" class="form-control" ng-model="loggedUser.newPassword" required>
                        </div>
                        <p ng-show="loggedUserForm.newPassword.$invalid && !loggedUserForm.newPassword.$pristine" class="error help-block">Required field</p>
                    </div>

                    <div class="row form-group">
                        <div class="form-group form-group-default required">
                            <label>Repeated new password</label>
                            <input autocomplete="repeated-new-password" type="password" name="repeatedNewPassword" class="form-control" ng-model="loggedUser.repeatedNewPassword" required>
                        </div>
                        <p ng-show="loggedUserForm.repeatedNewPassword.$invalid && !loggedUserForm.repeatedNewPassword.$pristine" class="error help-block">Required field</p>
                        <p ng-show="userPasswloggedUserord.newPassword !== loggedUser.repeatedNewPassword" class="error help-block">Password must match</p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" ng-click="doUpdateUserPassword()" data-dismiss="modal" class="btn btn-primary-dark" 
                        ng-disabled="loggedUserForm.$invalid">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>