<div class="modal stick-up fade" tabindex="-1" id="abort-model-executor" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title m-b-15">Abort executor</h4>
            </div>
            <form name="runExecutorForm" novalidate>
                <div class="modal-body">
                    
                    <div class="row form-group">
                        <div class="radio radio-primary">
                            <div>
                                <input type="radio" name="uploadMetadataToDriveAbortExecutor" id="uploadMetadataToDriveAbortExecutor" ng-value="true" ng-model="vm.executionData.uploadMetadata">
                                <label for="uploadMetadataToDriveAbortExecutor">Upload metadata to PhenoManager's Repository</label>
                            </div>
                            <div>
                                <input type="radio" name="doNotUploadMetadataToDriveAbortExecutor" id="doNotUploadMetadataToDriveAbortExecutor" ng-value="false" ng-model="vm.executionData.uploadMetadata">
                                <label for="doNotUploadMetadataToDriveAbortExecutor">Don't upload metadata to PhenoManager's Repository</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 row form-group">
                        <p>If you confirm, all the processes will be stopped.</p>
                        <p>Do you wish to abort executor execution?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" ng-click="vm.doAbortModelExecutor(vm.modelExecutorSlug, vm.executionData.uploadMetadata)" data-dismiss="modal" class="btn btn-danger">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>