<div class="modal stick-up fade" tabindex="-1" id="run-model-metadata-extractor" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title m-b-15">Run metadata extractor</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 row form-group">
                    <p>Do you wish to run metadata extractor?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" ng-click="vm.doRunModelMetadataExtractor(vm.modelMetadataExtractorSlug)" data-dismiss="modal" class="btn btn-primary-dark">Confirm</button>
            </div>
        </div>
    </div>
</div>