<div class="modal stick-up fade" tabindex="-1" id="run-model-metadata-extractor" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title m-b-15">Run metadata extractor</h4>
            </div>
            <form name="runExtractorForm" novalidate>
                <div class="modal-body">
                    
                    <div class="row form-group">
                        <div class="radio radio-primary">
                            <div>
                                <input type="radio" name="uploadMetadataToDriveRunExtractor" id="uploadMetadataToDriveRunExtractor" ng-value="true" ng-model="vm.executionData.uploadMetadata">
                                <label for="uploadMetadataToDriveRunExtractor">Upload metadata to PhenoManager's Repository</label>
                            </div>
                            <div>
                                <input type="radio" name="doNotUploadMetadataToDriveRunExtractor" id="doNotUploadMetadataToDriveRunExtractor" ng-value="false" ng-model="vm.executionData.uploadMetadata">
                                <label for="doNotUploadMetadataToDriveRunExtractor">Don't upload metadata to PhenoManager's Repository</label>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="required">Environment</label>
                        <select autocomplete-select required class="full-width" 
                                data="vm.executionData.environmentForExecution" 
                                api-endpoint="/v1/computational_models/{{ vm.computationalModel.slug }}/execution_environments"
                                dropdown-parent="#run-model-metadata-extractor"
                                label-select-text="tag"
                                array-value="false"
                                api-filters="tag">
                        </select>
                    </div>

                    <div class="col-lg-12 row form-group">
                        <p>Do you wish to run metadata extractor?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" ng-click="vm.doRunModelMetadataExtractor(vm.modelMetadataExtractorSlug, vm.executionData.environmentForExecution, vm.executionData.uploadMetadata)" data-dismiss="modal" 
                    class="btn btn-primary-dark"  ng-disabled="runExtractorForm.$invalid || !vm.executionData || !vm.executionData.environmentForExecution">
                        Confirm
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>