<div class="modal stick-up fade" tabindex="-1" id="save-execution-environment" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title m-b-15">{{ vm.executionEnvironmentSaveTitle }}</h4>
            </div>
            <form name="executionEnvironmentForm" novalidate>
                <div class="modal-body">

                    <div class="row form-group">
                        <div class="form-group form-group-default required">
                            <label>Type</label>
                            <select class="form-control" ng-model="vm.executionEnvironment.type" required ng-options="type.value as type.name for type in vm.environmentTypes">
                                <option disabled selected value="">Select permission</option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="form-group form-group-default required">
                            <label>Tag</label>
                            <input autocomplete="off" type="text" name="tag" class="form-control" ng-model="vm.executionEnvironment.tag" required>
                        </div>
                        <p ng-show="executionEnvironmentForm.tag.$invalid && !executionEnvironmentForm.tag.$pristine" class="error help-block">Required field</p>
                    </div>

                    <div class="row form-group">
                        <div class="form-group form-group-default">
                            <label>Host Address</label>
                            <input autocomplete="off" type="text" name="hostAddress" class="form-control" ng-model="vm.executionEnvironment.hostAddress">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="form-group form-group-default">
                            <label>Username</label>
                            <input autocomplete="off" type="text" name="username" class="form-control" ng-model="vm.executionEnvironment.username">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="form-group form-group-default">
                            <label>Password</label>
                            <input autocomplete="off" type="password" name="password" class="form-control" ng-model="vm.executionEnvironment.password">
                        </div>
                    </div>

                    <div class="row form-group" ng-if="vm.executionEnvironment.type === 'CLUSTER'">
                        <div class="form-group form-group-default">
                            <label>Cluster project name</label>
                            <input autocomplete="off" type="text" name="clusterName" class="form-control" ng-model="vm.executionEnvironment.clusterName">
                        </div>
                    </div>

                    <div class="row form-group" ng-if="vm.executionEnvironment.type === 'CLOUD'">
                        <div class="form-group form-group-default">
                            <label>Cluster name</label>
                            <input autocomplete="off" type="text" name="clusterName" class="form-control" ng-model="vm.executionEnvironment.clusterName">
                        </div>
                    </div>

                    <div class="row form-group" ng-if="vm.executionEnvironment.type === 'CLOUD'">
                        <div class="form-group form-group-default">
                            <label>Secret Key</label>
                            <input autocomplete="off" type="text" name="secretKey" class="form-control" ng-model="vm.executionEnvironment.secretKey">
                        </div>
                    </div>

                    <div class="row form-group" ng-if="vm.executionEnvironment.type === 'CLOUD'">
                        <div class="form-group form-group-default">
                            <label>Access Key</label>
                            <input autocomplete="off" type="text" name="accessKey" class="form-control" ng-model="vm.executionEnvironment.accessKey">
                        </div>
                    </div>

                    <div class="row form-group" ng-if="vm.executionEnvironment.type === 'CLOUD'">
                        <div class="form-group form-group-default">
                            <label>Image</label>
                            <textarea autocomplete="off" name="image" class="form-control default-textarea" ng-model="vm.executionEnvironment.image"></textarea>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="radio radio-primary">

                            <input type="radio" name="vpn" id="vpn" value="VPN" ng-model="vm.executionEnvironment.vpnType">
                            <label for="vpn">VPN</label>

                            <input type="radio" name="vpnc" id="vpnc" value="VPNC" ng-model="vm.executionEnvironment.vpnType">
                            <label for="vpnc">Cisco VPN</label>

                            <input type="radio" name="none" id="none" value="NONE" ng-model="vm.executionEnvironment.vpnType">
                            <label for="none">None</label>

                        </div>
                    </div>

                    <div ng-if="vm.executionEnvironment.vpnType !== 'NONE'" class="row form-group">
                        <div class="form-group form-group-default">
                            <label>VPN configuration</label>
                            <textarea autocomplete="off" name="vpnConfiguration" class="form-control default-textarea" ng-model="vm.executionEnvironment.vpnConfiguration"></textarea>
                        </div>
                    </div>

                    <div class="row form-group" ng-if="vm.executionEnvironment.type === 'CLOUD'">
                        <label class="col-lg-12">Virutal Machines</label>

                        <div ng-repeat="(i, virtualMachineConfig) in vm.executionEnvironment.virtualMachines" class="list-data">
                            <div class="input-group">
                                <span class="form-control inline-table v-align-middle">
                                    <span class="inline m-r-5" ng-if="virtualMachineConfig.type">{{ virtualMachineConfig.type }} \ </span>
                                    <span class="inline m-r-5" ng-if="!virtualMachineConfig.type">-- \ </span>

                                    <span class="inline m-r-5" ng-if="virtualMachineConfig.financialCost"> {{ virtualMachineConfig.financialCost }} \ </span>
                                    <span class="inline m-r-5" ng-if="!virtualMachineConfig.financialCost"> -- \ </span>

                                    <span class="inline m-r-5" ng-if="virtualMachineConfig.diskSpace"> {{ virtualMachineConfig.diskSpace }} \ </span>
                                    <span class="inline m-r-5" ng-if="!virtualMachineConfig.diskSpace"> -- \ </span>

                                    <span class="inline m-r-5" ng-if="virtualMachineConfig.ram"> {{ virtualMachineConfig.ram }} \ </span>
                                    <span class="inline m-r-5" ng-if="!virtualMachineConfig.ram">-- \ </span>

                                    <span class="inline m-r-5" ng-if="virtualMachineConfig.gflops"> {{ virtualMachineConfig.gflops }} \ </span>
                                    <span class="inline m-r-5" ng-if="!virtualMachineConfig.gflops"> -- \ </span>

                                    <span class="inline m-r-5" ng-if="virtualMachineConfig.platform"> {{ virtualMachineConfig.platform }} \ </span>
                                    <span class="inline m-r-5" ng-if="!virtualMachineConfig.platform"> -- \ </span>

                                    <span class="inline m-r-5" ng-if="virtualMachineConfig.numberOfCores"> {{ virtualMachineConfig.numberOfCores }}</span>
                                    <span class="inline m-r-5" ng-if="!virtualMachineConfig.numberOfCores"> --</span>
                                </span>
                                <span ng-click="removeVirtualMachineConfig(i)" class="input-group-addon danger pointer inherit v-align-middle">
                                    <i class="fa fa-trash"></i>
                                </span>
                            </div>
                        </div>

                        <div class="form-control list-block">
                            <div ng-if="!vm.showNewVirtualMachineConfig" class="add-list-icon">
                                <button style="width: 10px; padding: 0; margin: 0; min-width: 25px;" class="btn btn-primary-dark btn-cons" ng-click="vm.toggleNewVirtualMachineConfig(true)">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>

                            <div ng-if="vm.showNewVirtualMachineConfig">
                                <input autocomplete="off" type="text" placeholder="Type" name="type" class="form-control col-lg-12" ng-model="vm.type">
                                
                                <input input-mask mask="99999999.99" money="true" autocomplete="off" type="text" placeholder="Financial cost" name="financialCost" class="form-control col-lg-12" ng-model="vm.financialCost">

                                <input input-mask mask="99999999.99" autocomplete="off" type="text" placeholder="Disk space" name="diskSpace" class="form-control col-lg-12" ng-model="vm.diskSpace">

                                <input input-mask mask="999999999" autocomplete="off" type="text" placeholder="RAM" name="ram" class="form-control col-lg-12" ng-model="vm.ram">

                                <input input-mask mask="99999999.99" clear-on-blur="false" add-default-placeholder="false" autocomplete="off" type="text" placeholder="Gflops" name="gflops" class="form-control col-lg-12" ng-model="vm.gflops">

                                <input autocomplete="off" type="text" placeholder="Platform" name="platform" class="form-control col-lg-12" ng-model="vm.platform">

                                <input input-mask mask="99999999" autocomplete="off" type="text" placeholder="Number of cores" name="numberOfCores" class="form-control col-lg-12" ng-model="vm.numberOfCores">

                                <button style="width: 10px; padding: 0; margin: 0 0 0 5px; min-width: 25px;" class="btn btn-primary-dark btn-cons pull-right" 
                                        ng-click="vm.addVirtualMachineConfig(vm.type, vm.financialCost, vm.diskSpace, vm.ram, vm.gflops, vm.platform, vm.numberOfCores);
                                        vm.type = '';  vm.financialCost = ''; vm.diskSpace = ''; vm.ram = ''; vm.gflops = ''; vm.platform = ''; vm.numberOfCores = '';">
                                    <i class="fa fa-check"></i>
                                </button>
                                
                                <button style="width: 10px; padding: 0; margin: 0; min-width: 25px;" class="btn btn-danger btn-cons pull-right" ng-click="vm.toggleNewVirtualMachineConfig(false)">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" ng-click="vm.doSaveExecutionEnvironment()" data-dismiss="modal" class="btn btn-primary-dark" 
                        ng-disabled="executionEnvironmentForm.$invalid">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>